<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="mailbox-p03b2" value="../vendor/mailbox-client-p03b2" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="mailbox-p03b2">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="Google.Protobuf" />
      <package pattern="Rebex.*" />
      <package pattern="Sodium.Core" />
      <package pattern="libsodium" />
      <package pattern="Keccak256" />
      <package pattern="Neo.*" />
      <package pattern="coverlet.*" />
      <package pattern="xunit*" />
      <package pattern="Newtonsoft.Json" />
    </packageSource>
  </packageSourceMapping>
</configuration>
