<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="production-successor-protocol" value="../vendor/production-successor-1059184/packages" />
    <add key="survival-beta-protocol-closure" value="../vendor/survival-beta-e570512/packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="production-successor-protocol">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="survival-beta-protocol-closure">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.*" />
      <package pattern="System.*" />
      <package pattern="runtime.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="Google.Protobuf" />
      <package pattern="Rebex.*" />
      <package pattern="Sodium.Core" />
      <package pattern="libsodium" />
      <package pattern="Keccak256" />
      <package pattern="Neo.*" />
      <package pattern="coverlet.*" />
      <package pattern="xunit*" />
      <package pattern="Newtonsoft.Json" />
    </packageSource>
  </packageSourceMapping>
</configuration>
