<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="p14c-offline" value="../vendor/p04/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="p14c-offline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
